<html ng-app="todoApp">
	<head>
		<title>Amdatu tutorial</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
		<script src="todo.js"></script>
	</head>

	<body>
	<h2>Todo</h2>
	    <div ng-controller="TodoController">
	      <span>{{remaining()}} of {{todos.length}} remaining</span>
	      <ul class="unstyled">
	        <li ng-repeat="todo in todos track by $index">
	          <span>{{todo.description}}</span>
	        </li>
	      </ul>
	      <form ng-submit="addTodo()">
	        <input type="text" ng-model="todoText"  size="30"
	               placeholder="add new todo here">
	        <input class="btn-primary" type="submit" value="add">
	      </form>
	    </div>
	</body>
</html>